<!--
  This should be run on top of an existing gopher-navigation implementation. e.g.
  
  - minimal + fake_navigation
  - minimal + dslam_navigation
  - gazebo + fake_navigation 
 -->
<launch>
  <arg name="semantics" default="$(find gopher_semantics)/param/desirable_destinations.yaml" doc="yaml containing all of the semantics"/>
                                  
  <rosparam ns="/semantics" command="load" file="$(arg semantics)" />

  <node name="marco_polo" type="marco_polo" pkg="marco_polo"/>
</launch>
