.coverage
.venv
py_trees.egg-info
*/doc/html
*/doc/manifest.yaml
*.pyc
*.png
*.svg
build
dist
deb_dist
py_trees*.tar.gz 
*~
\#*
.#*
.DS_Store
.README.md.html
.eggs
tests/.README.md.html
nosetests.html
eclipse
dump.json
tests/blackboard.cprofile
.tox
testies
