##############################################################################
#
# Requirements for a complete environment for running, testing and generating
# documentation.
#
# Unfortunately this duplicates what is formally expressed in setup.py
# but covers the needs of read-the-docs that give us automatic doc generation.
#
# NB: If refactoring this name, make sure the read-the-docs server is aware
# of the name change.
##############################################################################

# install_requires
pydot

# extras_require[docs]
Sphinx==1.8.5
# Avoid a sphinx-docutils incompatibility that creates deprecation warnings:
#   sphinxsphinx/util/nodes.py:94: FutureWarning: The iterable returned by
#   Node.traverse() will become an iterator instead of a list in Docutils > 0.16.
docutils==0.15.2
sphinx-argparse<0.3
sphinx_rtd_theme<0.5
sphinx-autodoc-typehints==1.6.0

# extras_require[test] || tests_require
nose
