<!--
  An experiment with some simple gopher components - flash, pause, wait for button, honk

  Run this on top of minimal.launch.
 -->
<launch>
   <arg name="overrides" default="$(find gopher_configuration)/param/overrides.yaml" doc="a yaml configuration that can be used to override defaults." />
 
  <rosparam ns="/gopher/configuration" command="load" file="$(find gopher_configuration)/param/defaults.yaml"/>
  <rosparam ns="/gopher/configuration" command="load" file="$(arg overrides)"/>
</launch>
