# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: cimg/python:3.8

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - setup-py-{{ checksum "setup.py" }}
          # fallback to using the latest cache if no exact match is found
#          - setup-py-

      - run:
          name: Install Dependencies
          command: |
            echo "Working Directory: `pwd`" > install_dependencies_output
            echo "VirtualEnv Version: `virtualenv --version`" >> install_dependencies_output
            python3 -m venv venv >> install_dependencies_output
            . venv/bin/activate >> install_dependencies_output
            pip install -e .[test] >> install_dependencies_output

      - save_cache:
          paths:
            - ./venv
          key: setup-py-{{ checksum "setup.py" }}

      - run:
          name: Tests
          command: |
            . venv/bin/activate
            tox -e py38

      - run:
          name: Flake8
          command: |
            . venv/bin/activate
            tox -e flake8

      - run:
          name: MyPy
          command: |
            . venv/bin/activate
            mypy --python-version 3.8 | tee mypy_output

      - store_artifacts:
          path: install_dependencies_output
          destination: install_dependencies_output
          
      - store_artifacts:
          path: flake8_output
          destination: flake8_output
            
      - store_artifacts:
          path: mypy_output
          destination: mypy_output
          
