<!--
  Launches a node responsible for overseeing triggering (e.g. via joystick),
  initiation and execution of pre-specified custom deliveries.
 -->
<launch>
  <node name="custom_delivery_overseer" type="custom_delivery_overseer.py" pkg="gopher_behaviours">
    <rosparam param="locations" subst_value="True">$(env GOPHER_CUSTOM_DELIVERY_LOCATIONS)</rosparam>
    <remap from="custom_delivery_overseer/delivery_manager_status" to="/gopher_deliveries/status"/>
  </node>
</launch>
