<!--
  Demo the simple motions behaviour.
 -->
<launch>
  <arg name="minimal"     default="false"   doc="fire up (or not) minimal beneath this launcher."/>
  <arg name="translation" default="0.5"     doc="translation distance [m]" />
  <arg name="rotation"    default="0.87"    doc="rotation angle [radians]" />

  <include if="$(arg minimal)" file="$(find gopher_robot)/launch/minimal.launch"/>

  <node ns="demo" name="demo_simple_motions" type="demo_simple_motions" pkg="gopher_behaviours">
      <param name="translation" value="$(arg translation)"/>
      <param name="rotation"    value="$(arg rotation)"/>
  </node>
</launch>
