<!--
  Test launcher for the finish_him script
 -->
<launch>
  <group ns="gopher/configuration">
    <rosparam command="load" file="$(find gopher_configuration)/parameters/defaults.yaml"/>
  </group>
  <node name="finish_him" type="finish_him" pkg="gopher_behaviours" args="0.7 0.0 0.5">
  </node>
</launch>
