<!--
  An experiment with some simple gopher components - switch map and init pose.

  Run this on top of minimal.launch and make sure there exists

   - ROS_HOME/gopher/maps/earth.dslam
   - ROS_HOME/gopher/maps/heaven.dslam
   - ROS_HOME/gopher/maps/hell.dslam
   
  Usage:
  
  roslaunch gopher_behaviours demo_switch_map.launch map:=hell
 -->
<launch>

  <arg name="map" default="hell" doc="one of [heaven, hell, earth]." />
 
  <node name="switch_map" type="demo_switch_map" pkg="gopher_behaviours">
    <rosparam command="load" file="$(find gopher_configuration)/param/defaults.yaml"/>
    <rosparam param="map" subst_value="True">$(arg map)</rosparam>
  </node>
</launch>
