<!--
  Demo the move base behaviour.
 -->
<launch>
  <arg name="minimal"    default="false" doc="fire up minimal beneath this launcher."/>
  <arg name="dot"        default="False"        doc="render dot graph/png/svg." />

  <include if="$(arg minimal)" file="$(find gopher_robot)/launch/minimal.launch"/>

  <node ns="demo" name="demo_parking" type="demo_parking" pkg="gopher_behaviours">
      <param name="dot" value="$(arg dot)"/>
  </node>
</launch>
