<!--
  An experiment with some simple gopher components - flash, pause, wait for button, honk

  Run this on top of minimal.launch.
 -->
<launch>
  <arg name="minimal"   default="false"   doc="fire up (or not) minimal beneath this launcher."/>

  <include if="$(arg minimal)" file="$(find gopher_robot)/launch/minimal.launch"/>

  <node name="flash_and_wait" type="demo_flash_and_wait" pkg="gopher_behaviours"/>
</launch>
