<!--
  An experiment with some simple gopher components - switch map and init pose.

  Run this on top of minimal.launch and make sure there exists

   - ROS_HOME/gopher/maps/earth.dslam
   - ROS_HOME/gopher/maps/heaven.dslam
   - ROS_HOME/gopher/maps/hell.dslam
   
  Usage:
  
    roslaunch gopher_behaviours demo_switch_map.launch map:=earth
    roslaunch gopher_behaviours demo_elevators origin:=earth destination:=hell
 -->
<launch>

  <arg name="origin" default="earth" doc="one of [heaven, hell, earth]." />
  <arg name="destination" default="hell" doc="one of [heaven, hell, earth]." />
 
  <node name="elevators" type="demo_elevators" pkg="gopher_behaviours">
    <rosparam command="load" file="$(find gopher_behaviours)/param/defaults.yaml"/>
    <rosparam param="origin" subst_value="True">$(arg origin)</rosparam>
    <rosparam param="destination" subst_value="True">$(arg destination)</rosparam>
  </node>
</launch>
