<!--
  Launches gopher mind control.

  Eventually as part of the rapp
 -->
<launch>
  <arg name="debug"                  default="false" doc="get debug level logging from py_trees"/>
  <arg name="dont_wait_for_hoomans"  default="false" doc="automate hooman interaction via the 'go' button." />
  <arg name="autoload_test_delivery" default="false" doc="automatically load a test semantic locations list and drop a delivery goal to run on startup"/>

  <node name="gopher_deliveries" type="gopher_deliveries" pkg="gopher_behaviours">
    <remap from="gopher_deliveries/battery"            to="/gopher/status/battery"/>
    <remap from="gopher_deliveries/move_base/cancel"   to="/navi/move_base/cancel"/>
    <remap from="gopher_deliveries/move_base/feedback" to="/navi/move_base/feedback"/>
    <remap from="gopher_deliveries/move_base/goal"     to="/navi/move_base/goal"/>
    <remap from="gopher_deliveries/move_base/result"   to="/navi/move_base/result"/>
    <remap from="gopher_deliveries/move_base/status"   to="/navi/move_base/status"/>
    <remap from="gopher_deliveries/semantic_locations" to="/navi/semantic_locations"/>
    <remap from="delivery/goal"                        to="/rocon/delivery/goal"/>
    <remap from="delivery/feedback"                    to="/rocon/delivery/feedback"/>
    <remap from="delivery/result"                      to="/rocon/delivery/result"/>
    <remap from="delivery/go"                          to="/gopher/buttons/go"/>
    <rosparam param="dont_wait_for_hoomans" subst_value="True">$(arg dont_wait_for_hoomans)</rosparam>
    <rosparam param="debug" subst_value="True">$(arg debug)</rosparam>
    <rosparam param="autoload_test_delivery" subst_value="True">$(arg autoload_test_delivery)</rosparam>
  </node>
</launch>
